html {
    background-image: url(images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: 100%;
}

nav {
    width: 40%;
    text-align: right;
    align-items: flex-end;
    margin-top: 3.5%;
    margin-right: 5%;
    font-size: 110%;
}

nav a {
    font-family: sans-serif;
    margin: 2% 10px;
    display: inline-block;
    color: white;
    text-decoration: blink;
}

section {
    text-align: left;
    opacity: 0.5;
    background-color: black;
    height: 85vh;
    width: 80%;
    margin: 5vh auto;
    color: white;
}

h1 {
    height: 100vh;
    margin: 5vh auto;
    width: 20px;
    color: aqua;
    text-align: left;
}

p {
    height: 10vh;
    margin: 5vh auto;
    width: 20px;
    color: aqua;
}























footer {}

hover afect thingy img {
    opacity: 0.5;
    filter: alpha(opacity=50)
        /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

div {
    align-content: center;
}
