@font-face {
    font-family: fatface; 
    src: url(fonts/fatface.ttf)
}

html {
    background-image: url(images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

* {
    font-family: ;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    width: 16%;
    height: 16%;
}

.lgbtq {
    height: 300px;
    width: 300px;
}

nav {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 3.5%;
    margin-right: 5%;
    font-size: 160%;
    border-bottom: 2px solid #00a2ff;
}

nav a {
    font-family: sans-serif;
    margin: 2% 10px;
    display: inline-block;
    color: rgba(0,162,255);
    text-decoration: blink;
}

nav a:hover {
    color: white;
}

.about-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}

.about-text{
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    margin-right: 15vh;
    width: 80%;
    display: inline-block;
    size: 5vh;
    
}

.home-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
    border-right: 2px solid #00a2ff;
}

.home-text {
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    margin-right: 15vh;
    width: 40%;
    display: inline-block;
    size: 5vh;
}

.shop-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}

.shop-text{
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    margin-right: 15vh;
    width: 40%;
    display: inline-block;
    size: 20%;
}

footer{
    background-color: rgba(255,255,255,.55)
}
