html {
    background-image: url(images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

* {
    font-family: ;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.shape1 {
    width: 20%;
    height: 100%;
    size; 300px;
}

.logo {
    width: 12%;
    height: 12%;
}

nav {
    width: 40%;
    text-align: right;
    align-items: flex-end;
    margin-top: 3.5%;
    margin-right: 5%;
    font-size: 110%;
}

nav a {
    font-family: sans-serif;
    margin: 2% 10px;
    display: inline-block;
    color: rgba(0,162,255);
    text-decoration: blink;
}

section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-start;
    justify-content: space-between;
}

.about-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}

.about.text{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 20%;
    display: inline-block;
    size: 20%;
}

.home-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}

.home-text {
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    margin-right: 15vh;
    width: 40%;
    display: inline-block;
    size: 5vh;
}

.shop-section {
    text-align: left;
    background-color: rgba(0,0,0,0.55);
    height: 70vh;
    width: 90%;
    margin: 5vh;
    margin-bottom: 20vh;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
}

.shop-text{
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    margin-right: 15vh;
    width: 40%;
    display: inline-block;
    size: 20%;
}

